*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: inherit;
}
.two{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;

}
.one{
    padding: 15px;
    border: 1px solid white;
    height: 150px;
    max-width: 300px;
    width: 50%;
    border-radius: 20px;
    margin: 2px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    
}
.one:hover{
    background-color: black;
    color: white;
    font-size: 50px;
}